$width: 1400px;
$height: 675px;
$margin: 32px;
$source_size: 14px;
$source_glow_size: 8px;
$grate_width: 2px;
$grate_height: 200px;
$screen_height: 600px;
$screen_width: 120px;
$spectralLine-margin: 4px;

.container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    .toolbar{
        position: relative;
        z-index: 47;
        padding: 2px;
        background: black;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: stretch;
        color: white;
        .item{
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
        }
        label{
            display: flex;
            align-items: center;
            font-weight: bold;
        }
        select{
            background: black;
            color: white;
        }
    }
    .workbench{
        position: relative;
        margin: 0;
        padding: 0;
        background: black;
        height: calc(100% - 2.5rem - 4px);
        overflow: auto;
        .scaling{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}