$width: 1400px;
$height: 675px;
$margin: 32px;
$source_size: 14px;
$source_glow_size: 8px;
$grate_width: 2px;
$grate_height: 200px;
$screen_height: 600px;
$screen_width: 120px;
$spectralLine-margin: 4px;

.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    padding: $margin;
    overflow: auto;
}

.toolbar{
    display: flex;
    flex-direction: row;
}

.workbench{
    position: relative;
    width: calc(#{$width} - #{$margin});
    height: calc(#{$height} - #{$margin});
    background: black;
    padding: $margin;
}

.source{
    position: absolute;
    left: 160px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: $source_size;
    width: $source_size;
    border-radius: 50%;
}

.rays{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    .source-rays{
        position: absolute;
        left: 160px;
        width: calc(#{$width} / 2 - 160px + #{$margin} / 2);
        top: 50%;
        transform: translateY(-50%);
        stroke: white;
        stroke-dasharray: 4px;
    }
    .diffracted-rays{
        position: absolute;
        right: calc(160px + #{$screen_width}); 
        height: $screen_height;
        width: calc(#{$width} / 2 - 160px - #{$screen_width} + #{$margin} / 2);
        top: 50%;
        transform: translateY(-50%);
        stroke-dasharray: 4px;;
    }
}

.grate{
    position: absolute;
    left: calc(50% - #{$grate_width} / 2);
    top: calc(50% - #{$grate_height} / 2);
    height: $grate_height;
    width: $grate_width;
    background: gray;
}

.screen{
    position: absolute;
    right: 160px;
    top: 50%;
    transform: translateY(-50%);
    height: $screen_height;
    width: $screen_width;
    border: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background: black;
    .spectralLine{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - #{$spectralLine-margin} * 2);
        margin: 0 $spectralLine-margin;
        height: 3px;
    }
}